﻿@page
@model stockproject.Pages.Admin.AdminModel
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";
}
<div class="row mt-5 mb-3">
    <div class="col-12 text-center">
        <h3>รายการเคลื่อนย้ายสินค้า</h3>
    </div>
    <div class="col-12 text-right">
        <form method="post">
            <button asp-page-handler="GoToCreateForm" class="btn btn-primary"><i class="fas fa-file-medical mr-2"></i>สร้าง</button>
        </form>
    </div>
</div>

<div class="container-table100 text-center">
    <div class="wrap-table100">
        <ul class="nav nav-tabs d-flex justify-content-around" id="myTab" role="tablist">
            <li class="nav-item flex-fill">
                <a class="nav-link active" id="FormIn-tab" data-toggle="tab" href="#FormIn" role="tab" aria-controls="FormIn" aria-selected="true"><i class="fas fa-shipping-fast mr-2"></i>นำเข้า (@Model.listFromIn.Count)</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link" id="FormOut-tab" data-toggle="tab" href="#FormOut" role="tab" aria-controls="FormOut" aria-selected="false"><i class="fas fa-truck-loading mr-2"></i>จ่ายออก (@Model.listFormOut.Count)</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link" id="Report-tab" data-toggle="tab" href="#Report" role="tab" aria-controls="Report" aria-selected="false"><i class="far fa-file-alt mr-2"></i>รายงาน</a>
            </li>
        </ul>
        <div class="tab-content bg-white" id="myTabContent">
            <div class="tab-pane fade show active" id="FormIn" role="tabpanel" aria-labelledby="FormIn-tab">
                <table class="table table-hover my-table-custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>หัวข้อ</th>
                            <th>วันที่ทำการ</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.listFromIn.Count == 0)
                        {
                            <tr class="text-center">
                                <td colspan="4">
                                    ไม่พบรายการในระบบ
                                </td>
                            </tr>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.listFromIn.Count; i++)
                            {
                                <tr class="@(Model.listFromIn[i].Status)">
                                    <td>
                                        <form asp-page-handler="VALUE" method="post">

                                            <button asp-page-handler="VALUE" class="btn btn-link">@(i + 1)</button>


                                            <input type="hidden" name="id" value="@Model.listFromIn[i].id" />
                                            <input type="hidden" name="type" value="@Model.listFromIn[i].Subject" />
                                        </form>
                                    </td>
                                    <td>@Model.listFromIn[i].Subject</td>
                                    <td>@Model.listFromIn[i].Createdate.Value.ToLongDateString()</td>
                                    @if (Model.listFromIn[i].Status == "confirm")
                                    {
                                        <td>
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        </td>
                                    }
                                    else if (Model.listFromIn[i].Status == "wait")
                                    {
                                        <td>
                                            <span class="text-secondary"><i class="fas fa-minus"></i></span>
                                        </td>
                                    }
                                    else if (Model.listFromIn[i].Status == "reject")
                                    {
                                        <td>
                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="FormOut" role="tabpanel" aria-labelledby="FormOut-tab">
                <table class="table table-hover my-table-custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>หัวข้อ</th>
                            <th>วันที่ทำการ</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.listFromIn.Count == 0)
                        {
                            <tr class="text-center">
                                <td colspan="4">
                                    ไม่พบรายการในระบบ
                                </td>
                            </tr>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.listFormOut.Count; i++)
                            {
                                <tr class="@(Model.listFormOut[i].Status)">
                                    <td>
                                        <form asp-page-handler="VALUE" method="post">

                                            <button asp-page-handler="VALUE" class="btn btn-link">@(i + 1)</button>


                                            <input type="hidden" name="id" value="@Model.listFormOut[i].id" />
                                            <input type="hidden" name="type" value="@Model.listFormOut[i].Subject" />
                                        </form>
                                    </td>
                                    <td>@Model.listFormOut[i].Subject</td>
                                    <td>@Model.listFormOut[i].Createdate.Value.ToLongDateString()</td>
                                    @if (Model.listFormOut[i].Status == "confirm")
                                    {
                                        <td>
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        </td>
                                    }
                                    else if (Model.listFormOut[i].Status == "wait")
                                    {
                                        <td>
                                            <span class="text-secondary"><i class="fas fa-minus"></i></span>
                                        </td>
                                    }
                                    else if (Model.listFormOut[i].Status == "reject")
                                    {
                                        <td>
                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="Report" role="tabpanel" aria-labelledby="Report-tab" style="background-color: var(--bg-color-product);">
                @*<table class="table table-hover my-table-custom">
                        <thead>
                            <tr>
                                <th>ประเภท</th>
                                <th>รอการยืนยัน</th>
                                <th>ยืนยันแล้ว</th>
                                <th>ยกเลิกแล้ว</th>
                                <th>รวม</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    รายการนำสินค้าเข้า
                                </td>
                                <td>
                                    @Model.waittingIn
                                </td>
                                <td>
                                    @Model.confirmedIn
                                </td>
                                <td>
                                    @Model.rejectedIn
                                </td>
                                <td>
                                    @Model.totalIn
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    รายการจ่ายสินค้าออก
                                </td>
                                <td>
                                    @Model.waittingOut
                                </td>
                                <td>
                                    @Model.confirmedOut
                                </td>
                                <td>
                                    @Model.rejectedOut
                                </td>
                                <td>
                                    @Model.totalOut
                                </td>
                            </tr>
                        </tbody>
                    </table>*@
                <div class="row m-3 p-3">
                    <div class="col-6">
                        <div class="col-12">
                            รายการนำสินค้าเข้า
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-secondary">
                                            <i class="fas fa-minus  mr-2"></i>
                                            รอการยืนยัน:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-secondary">
                                        @Model.waittingIn <small>รายการ</small>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-success">
                                            <i class="fas fa-check mr-2"></i>
                                            ยืนยันแล้ว:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-success">
                                        @Model.confirmedIn <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-danger">
                                            <i class="fas fa-times mr-2"></i>
                                            ยกเลิกแล้ว:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-danger">
                                        @Model.rejectedIn <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        รวม:
                                    </div>
                                    <div class="col-3 text-right">
                                        @Model.totalIn <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12">
                            รายการจ่ายสินค้าออก
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-secondary">
                                            <i class="fas fa-minus  mr-2"></i>
                                            รอการยืนยัน:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-secondary">
                                        @Model.waittingOut <small>รายการ</small>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-success">
                                            <i class="fas fa-check mr-2"></i>
                                            ยืนยันแล้ว:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-success">
                                        @Model.confirmedOut <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        <span class="text-danger">
                                            <i class="fas fa-times mr-2"></i>
                                            ยกเลิกแล้ว:
                                        </span>
                                    </div>
                                    <div class="col-3 text-right text-danger">
                                        @Model.rejectedOut <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-3">
                                <div class="row">
                                    <div class="col-9 text-right">
                                        รวม:
                                    </div>
                                    <div class="col-3 text-right">
                                        @Model.totalOut <small>รายการ</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*<div id="divloading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color:#ffffff; z-index: 300001;
    opacity: .8; filter: alpha(opacity=80);display:none">
        <div style="position: absolute; top: 40%; left: 40%; color: black;">

        </div>
    </div>*@
@*</div>*@


