﻿@page
@model stockproject.confirmstatusModel
@{
    ViewData["Title"] = "confirmstatus";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";
}

@*<h1>confirmstatus</h1>*@
@*<div class="d-flex flex-row-reverse mb-2">
        <div class="">
            <form method="post">
                <button asp-page-handler="GoToCreateForm" class="btn btn-primary"><i class="fas fa-file-medical mr-2"></i>Create Form</button>
            </form>
        </div>
    </div>*@
<div class="row mt-5 mb-3">
    <div class="col-12 text-center">
        <h3>รายการเคลื่อนย้าย</h3>
    </div>
</div>
<div class="container-detail-form">
    <div class="wrap-detail-form">
        <form method="post">

            <div class="text-center">
                <h5 class="card-title">@ViewData["type"] </h5>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 text-center mb-3">
                    สถานะรายการ:
                    @{
                        if (Model.formHeader.Status == "wait")
                        {
                            <span class="badge badge-secondary">กำลังรอยืนยัน</span>
                        }
                        else if (Model.formHeader.Status == "confirm")
                        {
                            <span class="badge badge-success">ยืนยันแล้ว</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">ยกเลิกแล้ว</span>
                        }
                    }
                </div>
                <div class="col-6">
                    <p>สร้างโดย: @ViewData["name"]</p>
                </div>
                <div class="col-6">
                    <p>วันที่ทำรายการ: @ViewData["date"]</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 text-right">
                    @if (ViewData["status"].ToString() == "False")
                    {
                        <button asp-page-handler="DeleteForm" asp-route-formId="@ViewData["id"]" asp-route-typeform="@ViewData["type"]" class="btn btn-link text-danger"><i class="fas fa-trash-alt mr-2"></i>ยกเลิกรายการนี้</button>
                        <button asp-page-handler="EditForm" asp-route-formId="@ViewData["id"]" asp-route-typeform="@ViewData["type"]" class="btn btn-outline-info"><i class="fas fa-edit mr-2"></i>ยืนยันแก้ไขรายการนี้</button>
                    }
                    else
                    {
                        <button class="btn btn-link text-danger" disabled><i class="fas fa-trash-alt mr-2"></i>ยกเลิกรายการนี้</button>
                        <button class="btn btn-info" disabled><i class="fas fa-edit mr-2"></i>ยืนยันแก้ไขรายการนี้</button>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="table-wrapper">
                        <table class="table table-hover my-table-custom">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th></th>
                                    <th>สินค้า</th>
                                    <th>จำนวน <small>(หน่วย)</small></th>
                                    <th>ราคา/หน่วย <small>(บาท)</small></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.list.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>@(i + 1)</td>
                                        <td>
                                            <span>
                                                <img class="img-table-view" src="~/pic/@Model.list[i].Picpath" width="277" height="180">
                                            </span>
                                        </td>
                                        <td>@Model.list[i].product</td>
                                        @*<td class="text-right">@Model.list[i].qty</td>*@
                                        <td style="width: 200px;">
                                            @Html.HiddenFor(m => m.list[i].productid)
                                            @if (ViewData["status"].ToString() == "False")
                                            {
                                                @Html.TextBoxFor(m => m.list[i].qty, new { @type = "number", @placeholder = "0", @class = "form-control my-text-input-custom", @required = true, @min = "1" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.list[i].qty, new { @type = "number", @placeholder = "0", @class = "form-control my-text-input-custom", @disabled = true })
                                            }
                                        </td>
                                        <td class="text-right pr-4">@Model.list[i].price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col-12">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row text-right">
            <div class="col">
                @if (ViewData["status"].ToString() == "False")
                {
                    @if (ViewData["confirm"].ToString() == "Yes")
                    {
                        <form asp-page-handler="CONFIRM" method="post" class="d-inline">
                            <button class="btn btn-success"><i class="fas fa-check mr-2"></i>ยืนยัน</button>
                            <input type="hidden" name="id" value="@ViewData["id"]" />
                            <input type="hidden" name="type" value="@ViewData["type"]" />
                        </form>
                    }
                    else
                    {
                        <button class="btn btn-success" disabled><i class="fas fa-check mr-2"></i>ยืนยัน</button>
                    }

                    <form asp-page-handler="REJECT" method="post" class="d-inline">
                        <button class="btn btn-danger ml-2"><i class="fas fa-times mr-2"></i>ยกเลิก</button>
                        <input type="hidden" name="id" value="@ViewData["id"]" />
                        <input type="hidden" name="type" value="@ViewData["type"]" />
                    </form>
                }
                else
                {
                    <button class="btn btn-success" disabled><i class="fas fa-check mr-2"></i>ยืนยัน </button>
                    <button class="btn btn-danger ml-2" disabled><i class="fas fa-times mr-2"></i>ยกเลิก</button>
                }
            </div>
        </div>
    </div>
</div>

