﻿@page
@model stockproject.CreateUserModel
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="row mt-5 mb-3">
        <div class="col-12 text-center">
            <h3>เพิ่มผู้ใช้</h3>
        </div>
    </div>
    <div class="container-create-product">
        <div class="wrap-create-product">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formGroupExampleInput">ชื่อผู้ใช้</label>
                        @Html.TextBoxFor(m=>m.userinput.Username , new {@class="form-control my-text-input-custom",@type="text",@placeholder="Username",@required="required" })
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput1">รหัสผ่าน</label>
                        @Html.TextBoxFor(m => m.userinput.Password, new { @class = "form-control my-text-input-custom", @type = "text", @placeholder = "Password", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">ชื่อ - นามสกุล</label>
                        @Html.TextBoxFor(m => m.userinput.FullName, new { @class = "form-control my-text-input-custom", @type = "text", @placeholder = "ชื่อเต็ม", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput3">โทร</label>
                        @Html.TextBoxFor(m => m.userinput.Phone, new { @class = "form-control my-text-input-custom", @type = "text", @placeholder = "0123456789", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput4">ที่อยู่</label>
                        @Html.TextBoxFor(m => m.userinput.Contact, new { @class = "form-control my-text-input-custom", @type = "text", @placeholder = "ที่อยู่", @required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput5">หน้าที่</label>
                        <select asp-for="@Model.roleid" asp-items="Model.roledb" class="form-control my-select-box-custom" required>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary" asp-page-handler="ToCreate"><i class="fas fa-check mr-2"></i>เพิ่ม</button>
                </div>
            </div>
        </div>
    </div>
</form>

