﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <style>
        .bgwhite {
            background-color: #d3941e !important;
        }

        .navbar {
            padding: 1.0rem 1rem;
        }

        .navbar-light .navbar-nav .nav-link {
            color: rgba(255, 255, 255, 0.66);
        }

        .navbar-light .navbar-brand {
            color: rgba(255, 255, 255, 0.96);
        }

       
    </style>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bgwhite border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Admin/summaryReport"><i class="fas fa-file-alt"></i> รีพอต</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Admin/product"><i class="fas fa-layer-group"></i> จัดการสินค้า</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="post" asp-page="/Index" asp-page-handler="LogOff">
                        <a class="mr-3"style="color: rgba(255, 255, 255, 0.66);">Hello, @User.Identity.Name.</a>
                        <button class="btn btn-outline-light my-2 my-sm-0"><i class="fas fa-sign-out-alt"></i> Log out</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2563 - Pizza - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
