﻿@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - PizzaProject</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    </head>
    <body>

        <div class="container h-100">
            <main role="main" class="pb-3 h-100">
                @RenderBody()
            </main>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://kit.fontawesome.com/29690c7f9b.js" crossorigin="anonymous"></script>
        <script src="~/lib/font-awesome/js/all.min.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
    </html>*@

<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--===============================================================================================-->

        <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <!--===============================================================================================-->
        @*<link rel="stylesheet" type="text/css" href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">*@
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
        <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
        <!--===============================================================================================-->
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>

        <div class="limiter">
            <div class="container-login100" style="background-image: url('./login/images/bg-03.jpg');">
                <div class="wrap-login100 p-t-30 p-b-50">
                    @RenderBody()

                </div>
            </div>
        </div>
    

        <!--===============================================================================================-->
        <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/vendor/bootstrap/js/popper.js"></script>
        <script src="~/login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/login/js/main.js"></script>

    </body>
    </html>