﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LayoutEmpty.cshtml";
}
<div class="limiter h-100 w-100">
    <div class="container-login100">
        <img class="bg-img" src="../Pic/inventory-bg.jpeg" />
        <div class="wrap-login100" id="loginHeader">
            <form class="login100-form" method="post" style="padding-top:150px; padding-bottom:55px; padding-left:40px; padding-right:40px;">
                <span class="login100-form-title">
                    <i class="fas fa-box-open"></i> Stock
                </span>
                <div class="wrap-input100" style="margin-bottom:16px;">
                    @Html.TextBoxFor(m => m.username, new { @class = "input100", @placeholder = "ชื่อผู้ใช้", required = "required" })
                </div>
                <div class="wrap-input100" style="margin-bottom:16px;">
                    @Html.PasswordFor(m => m.password, new { @class = "input100", @placeholder = "รหัสผ่าน", required = "required" })
                </div>
                <div class="container-login100-form-btn" style="margin-bottom:16px;">
                    <button asp-page-handler="LogIn" class="login100-form-btn">เข้าสู่ระบบ</button>
                </div>
                @*<div class="row">
                    <div class="col-12 text-left">*@
                        @Html.ValidationSummary(false, "", new { @class = "text-center text-danger validation-text" })
                    @*</div>
                </div>*@
            </form>
        </div>
    </div>
</div>
