﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

@*<div class="container h-100 w-100 d-flex">
        <div class="card m-auto login-block">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div style="width: 300px; height: 300px;">

                        </div>

                    </div>
                    <div class="col">
                        <div class="text-center mt-3 mb-3">
                            <h2 class="text-white">
                                Login
                            </h2>
                        </div>
                        <div class="">
                            <form method="post" style="padding-top:5px">
                                <div class="form-group">
                                    <div class="input-group shadow-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> <i class="fas fa-user"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "Username", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group shadow-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                                        </div>
                                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group float-right">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a class="nav-link text-white btn-link" asp-page="Register">Register</a>
                                    </div>
                                    <div class="col text-right">
                                        <button asp-page-handler="LogIn" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<style>
    .main {
        width: 85%;
        margin: 20px auto;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 0;
    }

    .form-group .form-control {
        padding-left: 3.375rem;
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        color: #555555;
    }

    form .form-control:focus {
        border-color: #ced4da;
        box-shadow: none;
    }

    .form-group .form-control-icon {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
    }

    .edit {
        height: calc(1.5em + .30rem + 1px);
        color: #555555;
        text-align: left;
        padding: 0 20px 0 80px;
        border-bottom: 1px solid #e6e6e6;
    }

    input {
        border: none;
        background-color: transparent;
    }

        input:focus,
        select:focus,
        textarea:focus,
        button:focus {
            outline: none;
        }

    .fa-user-circle-o {
        color: gray;
    }
</style>


@*<link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@

<span class="login100-form-title p-b-41">
    Account Login
</span>
<form method="post" class="login100-form validate-form p-b-33 p-t-5">

    <div class="main">
        <div class="form-group">
            <span class="fa fa-user form-control-icon"></span>
            @Html.TextBoxFor(m => m.username, new { @type = "text", @class = "form-control input100 edit", @placeholder = "Username", required = "required" })

        </div>
    </div>

    @*<div class="wrap-input100 validate-input" data-validate="Enter username">

            @Html.TextBoxFor(m => m.username, new { @type = "text", @class = "input100", @placeholder = "Username", required = "required" })
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>

        </div>*@

    @*<div class="wrap-input100 validate-input" data-validate="Enter password">

            @Html.PasswordFor(m => m.password, new { @type = "password", @class = "input100", @placeholder = "Password", required = "required" })
            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>*@

    <div class="main">
        <div class="form-group">
            <span class="fa fa-lock form-control-icon"></span>
            @Html.TextBoxFor(m => m.password, new { @type = "password", @class = "form-control input100 edit", @placeholder = "Password", required = "required" })

        </div>
    </div>


    <div class="container-login100-form-btn m-t-32 m-b-10">
        <button asp-page-handler="LogIn" class="login100-form-btn">
            Login
        </button>


    </div>
    <p style="text-align: center;">Not Registered ? <a style="color:tomato" asp-page="Register">Create an account</a></p>

</form>

<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger", @style = "left: 50px" })
</div>
