﻿@page
@model Pizza.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}
    <style>
        .main {
            width: 85%;
            margin: 3px auto;
            position: relative;
            border-bottom: 1px solid #e6e6e6;
            padding: 15px 0;
        }

        .form-group .form-control {
            padding-left: 3.375rem;
            border: none;
            background-color: transparent;
            font-size: 1.4rem;
            color: #555555;
        }

        form .form-control:focus {
            border-color: #ced4da;
            box-shadow: none;
        }

        .form-group .form-control-icon {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
        }

        .edit {
            height: calc(1.5em + .30rem + 1px);
            color: #555555;
            text-align: left;
            padding: 0 20px 0 80px;
            border-bottom: 1px solid #e6e6e6;
        }

        input {
            border: none;
            background-color: transparent;
        }

            input:focus,
            select:focus,
            textarea:focus,
            button:focus {
              outline: none;
            }

        .fa-user-circle-o {
            color: gray;
        }
        .color{
        background: #d4d318;
        background: -webkit-linear-gradient(left, #249bd5, #18d4c4, #b2e21a);
        }
    </style>

@*<div class="container h-100 w-100 d-flex">
    <div class="card m-auto registor-block">
        <div class="card-body">
            <div class="row">
                <div class="col" style="width: 300px; height: 300px;">
                </div>
                <div class="col">
                    <div class="text-center mt-3 mb-3">
                        <h2 class="text-white">
                            Register
                        </h2>
                    </div>
                    <div class="">
                        <form method="post" style="padding-top:5px">
                            <div class="form-group">
                                <div class="input-group shadow-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fas fa-user"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "Username", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group shadow-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group shadow-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                                    </div>
                                    @Html.TextAreaFor(m => m.address, new { @class = "form-control", @placeholder = "Address", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group shadow-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @placeholder = "Phone" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group shadow-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @placeholder = "Email", required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <a class="nav-link text-white" asp-page="Index">Already registed</a>
                                </div>
                                <div class="col-4 text-right">
                                    <button asp-page-handler="Register" class="btn btn-success"><i class="fas fa-angle-right"></i> Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<span class="login100-form-title p-b-41">
    Register
</span>
<form method="post" class="login100-form validate-form">

    <div class="main">
        <div class="form-group">
            <span class="fa fa-user form-control-icon"></span>
            @Html.TextBoxFor(m => m.username, new { @class = "form-control input100 edit", @placeholder = "Username", required = "required" })
        </div>
    </div>
    <div class="main">
        <div class="form-group">
            <span class="fa fa-key form-control-icon"></span>
            @Html.PasswordFor(m => m.password, new { @class = "form-control input100 edit", @placeholder = "Password", required = "required" })
        </div>
    </div>
    <div class="main">
        <div class="form-group">
            <span class="fa fa-map-marked form-control-icon"></span>
            @Html.TextAreaFor(m => m.address, new { @class = "form-control input100 edit", @placeholder = "Address", required = "required" })
        </div>
    </div>

    <div class="main">
        <div class="form-group">
            <span class="fa fa-mobile form-control-icon"></span>
            @Html.TextBoxFor(m => m.phone, new { @class = "form-control input100 edit", @placeholder = "Phone" })
        </div>
    </div>
    <div class="main">
        <div class="form-group">
            <span class="fa fa-envelope form-control-icon"></span>
            @Html.TextBoxFor(m => m.email, new { @class = "form-control input100 edit", @placeholder = "Email", required = "required" })
        </div>
    </div>

    <div class="container-login100-form-btn m-t-20 m-b-10">
        <button asp-page-handler="Register" class="login100-form-btn color">
            Submit
        </button>

    </div>
    <p style="text-align: center;"><a style="color:tomato" asp-page="Index">Already registed</a></p>
    <div class="row">
        <div class="col">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>
    </div>

</form>