﻿@import url("./utilities.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*#region Login-page */
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url("../Pic/inventory-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1960px 969px;
    opacity: 0.5;
}

.wrap-login100 {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.login100-form {
    width: 100%;
    position: relative;
    background-color: #fff;
}

.login100-form-title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    padding-top: 25px;
    padding-bottom: 25px;
}

.wrap-input100 {
    width: 100%;
    background-color: var(--main-color);
    border-radius: 27px;
    position: relative;
    z-index: 1;
}

.input100 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    border: 0px;
    padding: 0 35px 0 35px;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 25px;
    border: 0px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background-color: var(--main-color-darker);
    }

    .login100-form-btn:active {
        background-color: var(--main-color-darkest);
    }

.validation-text ul {
    position: absolute;
    list-style-type: none;
    left: 30%;
    bottom: 10px;
}
/*#endregion */

/*#region Navbar */
.navbar {
    background-color: var(--main-color);
    color: #fff;
}

    .navbar a.navbar-brand {
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }

        .navbar a.navbar-brand:hover {
            color: rgb(255, 232, 219);
        }

    .navbar li.nav-item a.nav-link {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

        .navbar li.nav-item a.nav-link:hover {
            color: rgb(255, 232, 219);
        }

    .navbar a {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

        .navbar a:hover {
            color: rgb(255, 232, 219);
        }

    .navbar button {
        color: #fff;
        font-size: 16px;
        border: 0px;
    }

        .navbar button:hover {
            color: #fff;
            background-color: var(--main-color-darker);
        }

        .navbar button:active {
            color: #fff;
            background-color: var(--main-color-darkest);
        }
/*#endregion */

/*#region Admin-page */
div.container {
    font-size: 17px;
    /* background-color: rgb(230, 230, 230); */
}

.container-table100 {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /*padding: 15px;*/
    position: relative;
    background-color: #fff;
}

.table-wrapper {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    background-color: var(--main-color-darkest);
}

.wrap-table100 {
    width: 100%;
    background-color: var(--main-color-darkest);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

    .wrap-table100 tbody tr td {
        vertical-align: middle;
    }

    .wrap-table100 ul.nav {
        height: 45px;
        background-color: var(--main-color);
    }

        .wrap-table100 ul.nav li.nav-item {
            /*width: 33%;*/
            background-color: var(--main-color);
        }

            .wrap-table100 ul.nav li.nav-item a.nav-link {
                color: #fff;
                font-weight: 600;
                height: 100%;
                border: 0px;
                padding: .7rem .5rem;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                -moz-transition: all 0.4s;
                transition: all 0.4s;
            }

                .wrap-table100 ul.nav li.nav-item a.nav-link.active {
                    color: var(--main-color);
                    background-color: var(--main-color-darkest);
                }

                /*.wrap-table100 ul.nav li.nav-item a.nav-link:not(.active) {
                    border-bottom: 5px solid #463011;
                }*/

                .wrap-table100 ul.nav li.nav-item a.nav-link:hover {
                    color: var(--main-color);
                    background-color: var(--main-color-darker);
                }

                .wrap-table100 ul.nav li.nav-item a.nav-link.active:hover {
                    background-color: var(--main-color-darkest);
                }

table.my-table-custom {
    background-color: var(--main-color-darkest);
}

.my-table-custom thead {
    background-color: var(--main-color-darkest);
    color: #fff;
}

.my-table-custom tbody tr td form button {
    color: var(--main-color);
}

    .my-table-custom tbody tr td form button:hover {
        color: var(--main-color-darkest);
    }

.my-table-custom tbody tr {
    background-color: var(--tr-color-even);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    /*.my-table-custom tbody tr:nth-child(2n+1) {
        background-color: var(--tr-color-even);
    }*/

    .my-table-custom tbody tr:hover {
        background-color: var(--tr-color-hover);
    }

    .my-table-custom tbody tr.confirm {
        background-color: var(--tr-confirm);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .my-table-custom tbody tr.reject {
        background-color: var(--tr-reject);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .my-table-custom tbody tr.wait {
        background-color: var(--tr-wait);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .my-table-custom tbody tr.confirm:hover {
        background-color: var(--tr-confirm-hover);
    }

    .my-table-custom tbody tr.reject:hover {
        background-color: var(--tr-reject-hover);
    }

    .my-table-custom tbody tr.wait:hover {
        background-color: var(--tr-wait-hover);
    }

    .my-table-custom tbody tr td span.badge {
        padding: 0.5em 0.5em;
    }

    .my-table-custom tbody tr td:first-child {
        color: var(--main-color);
    }

.table td, .table th {
    vertical-align: middle;
}
/*#endregion */

/*#region Button */
button.btn.btn-primary {
    background-color: var(--main-color);
    color: #fff;
    border: 0px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    button.btn.btn-primary:hover {
        background-color: var(--main-color-darker);
        color: var(--main-color);
    }

    button.btn.btn-primary:active {
        color: var(--main-color);
        background-color: var(--main-color-darkest);
    }

    button.btn.btn-primary:focus {
        color: var(--main-color);
        background-color: var(--main-color-darkest);
    }

    button.btn.btn-primary:hover:focus:active {
        color: var(--main-color);
        background-color: var(--main-color-darkest);
        border-color: var(--main-color);
    }

    button.btn.btn-primary:hover:default {
        color: var(--main-color);
        background-color: var(--main-color-darkest);
        border-color: var(--main-color);
    }
/*#endregion */

/*#region Check box */
/* The container */
.checkbox-container {
    display: block;
    margin: auto;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .checkbox-container input {
        position: absolute;
        /*margin: auto;*/
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    margin: auto;
    /*top: -2vh;
    left: 3vw;*/
    height: 25px;
    width: 25px;
    background-color: #e0e0e0;
    border-radius: 5px;
    border: 2px solid #cacaca;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #f9f5f5;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: var(--main-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*#endregion */

/*#region Input-text */
.my-text-input-custom {
    font-family: "Arial Black", Gadget, sans-serif;
    /*font-size: 15px;
    font-weight: 400;*/
    color: #3f3f3f;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #f9f9f9;
    border-radius: 27px;
    border: 0px;
    padding: 0 35px 0 35px;
}

input.my-text-input-custom::placeholder {
    color: #cbcbcb;
}
/*#endregion */

/*#region Input-file */
.inputfile {
    /*width: 0.1px;
    height: 0.1px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    z-index: -1;*/
}

    .inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white !important;
        background-color: var(--main-color);
        border: 0px;
        border-radius: .25rem;
        display: inline-block;
        cursor: pointer;
        padding: .375rem .75rem;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: var(--main-color-darker);
        }

        .inputfile + label:active {
            background-color: var(--main-color-darkest);
        }

    .inputfile:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

/*#endregion */

/*#region Lebel-form-group */
.form-group label {
    /*font-size: 17px;
    font-weight: 700;
    color: #272424;*/
}
/*#endregion */
/*#region Select-bar */
select.my-select-box-custom {
    font-family: "Arial Black", Gadget, sans-serif;
    /*font-size: 15px;
    font-weight: 400;*/
    color: #3f3f3f;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #f9f9f9;
    border-radius: 27px;
    border: 0px;
    padding: 0 35px 0 35px;
}


/*#endregion */

/*#region Product */
span img.img-table-view {
    border-radius: 10px;
}

img.img-table-view {
    width: 5vw;
    height: 5vw;
}

div.product-card-list div div.card div.card-header {
    position: relative;
    padding: 0;
    background-color: var(--main-color);
}

div.card-header span.img-card-view img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /*min-width: 250px;
    min-height: 250px;*/
}

div.product-card-list div div.card {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

    div.product-card-list div div.card div.card-title {
        font-size: 15px;
        font-weight: 700;
        color: #000;
        padding: 10px 15px;
    }


/*#endregion */

/*#region CreateProduct */
.container-create-product {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    background-color: #fff;
}

.wrap-create-product {
    position: relative;
    width: 60vw;
    padding: 50px;
    background-color: var(--bg-color-product);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/*.wrap-box100:before {
        position: absolute;
        top: 0;
        left :0;
        content: '';
        background-color: var(--main-color-darkest);
        width: 100%;
        height: 20px;
    }
    .wrap-box100:after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        background-color: var(--main-color-darkest);
        width: 100%;
        height: 20px;
    }*/
/*#endregion */

/*#region CreateForm */
.container-create-form {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    background-color: #fff;
}

.wrap-create-form {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: var(--bg-color-product);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*#endregion */

/*#region Detail-from */
.container-detail-form {
    width: 100%;
    min-height: 80vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    position: relative;
    background-color: #fff;
}

.wrap-detail-form {
    position: relative;
    width: 100%;
    padding: 50px;
    background-color: var(--bg-color-product);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


/*#endregion */