﻿:root {
    --main-color-brightest: rgb(255, 232, 219);
    --main-color-brighter: rgb(238, 190, 162);
    --main-color: #d3a15a;
    --main-color-darker: #996d2e;
    --main-color-darkest: #754e18;
    --tr-color-odd: rgb(218, 218, 218);
    --tr-color-even: rgb(243, 243, 243);
    --tr-color-hover: rgb(196, 196, 196);
    --tr-confirm: #d0efd3;
    --tr-confirm-hover: #c3dfc5;
    --tr-reject: #ffebea;
    --tr-reject-hover: #e4d2d1;
    --tr-wait: #f1f1f1;
    --tr-wait-hover: #dad8d8;
    --bg-color-product: rgb(222, 222, 222);
}
