﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    background-color: #f6f6f6;
    margin-bottom: 60px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

html, body {
    height: 100% !important;
}

.login-block {
    /*background-image: url("../img/pizza-background.jpg");*/
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(255,255,255,1)), url("../img/pizza-background.jpg");
    background-size: cover;
}

.registor-block {
    /*background-image: url("../img/pizza-background.jpg");*/
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(255,255,255,1)), url("../img/pizza-background2.jpg");
    background-size: cover;
}
