﻿@page
@model stockproject.FormDetailModel
@{
    ViewData["Title"] = "FormDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row mt-5 mb-3">
    <div class="col-12 text-center">
        <h3>รายการเคลื่อนย้าย</h3>
    </div>
</div>
<div class="container-detail-form">
    <div class="wrap-detail-form">
        <form method="post">

            <div class="text-center">
                <h5 class="card-title">@ViewData["type"] </h5>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 text-center mb-3">
                    สถานะรายการ:
                    @{
                        if (Model.formHeader.Status == "wait")
                        {
                            <span class="badge badge-secondary">กำลังรอยืนยัน</span>
                        }
                        else if (Model.formHeader.Status == "confirm")
                        {
                            <span class="badge badge-success">ยืนยันแล้ว</span>
                        }
                        else
                        {
                            <span class="badge badge-danger">ยกเลิกแล้ว</span>
                        }
                    }
                </div>
                <div class="col-6">
                    <p>สร้างโดย: @ViewData["name"]</p>
                </div>
                <div class="col-6">
                    <p>วันที่ทำรายการ: @ViewData["date"]</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 text-right">
                    @if (ViewData["Ckuser"] == "Yes")
                    {
                        @if (ViewData["status"] == "False")
                        {
                            <button asp-page-handler="DeleteForm" asp-route-formId="@ViewData["IDForm"]" asp-route-typeform="@ViewData["typeForm"]" class="btn btn-link text-danger"><i class="fas fa-trash-alt mr-2"></i>ยกเลิกรายการนี้</button>

                            <button asp-page-handler="EditForm" asp-route-formId="@ViewData["IDForm"]" asp-route-typeform="@ViewData["typeForm"]" class="btn btn-outline-info"><i class="fas fa-edit mr-2"></i>ยืนยันแก้ไขรายการนี้</button>
                        }
                        else
                        {
                            <button class="btn btn-link text-danger" disabled><i class="fas fa-trash-alt mr-2"></i>ยกเลิกรายการนี้</button>
                            <button class="btn btn-info" disabled><i class="fas fa-edit mr-2"></i>ยืนยันแก้ไขรายการนี้</button>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="table-wrapper">
                        <table class="table table-hover my-table-custom">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th></th>
                                    <th>สินค้า</th>
                                    <th>จำนวน <small>(หน่วย)</small></th>
                                    <th>ราคา/หน่วย <small>(บาท)</small></th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (var i = 0; i < Model.formDetail.Count; i++)
                                {
                                    <tr class="text-center">
                                        <td>
                                            <label name="[@i].No">@(i + 1)</label>
                                        </td>
                                        <td>
                                            <span>
                                                <img class="img-table-view" src="~/pic/@Model.formDetail[i].Picpath" width="277" height="180">
                                            </span>
                                        </td>
                                        <td>
                                            <label name="[@i].ProductName">@Model.formDetail[i].ProductName</label>
                                        </td>
                                        <td style="width: 200px;">
                                            @Html.HiddenFor(m => m.formDetail[i].ProductformId)
                                            @Html.HiddenFor(m => m.formDetail[i].FormId)
                                            @Html.HiddenFor(m => m.formDetail[i].ProductName)
                                            @Html.HiddenFor(m => m.formDetail[i].ProductId)
                                            @Html.HiddenFor(m => m.formDetail[i].Price)
                                            @Html.HiddenFor(m => m.formDetail[i].Status)
                                            @if (ViewData["status"].ToString() == "False")
                                            {
                                                @Html.TextBoxFor(m => m.formDetail[i].Qty, new { @type = "number", @placeholder = "0", @class = "form-control my-text-input-custom", @required = true, @min = "1" })

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.formDetail[i].Qty, new { @type = "number", @placeholder = "0", @class = "form-control my-text-input-custom", @required = true, @min = "1", @disabled = true })
                                            }
                                        </td>
                                        <td class="text-right pr-4">@Model.formDetail[i].Price</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
        </form>
    </div>
</div>




@*<div class="d-flex justify-content-between mb-3">
        <div>
            <h2>
                Form-in details
            </h2>
        </div>
        <div>
            <form method="post">
                <button asp-page-handler="GoToCreateForm" class="btn btn-primary">Create Form</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="row">

                <div class="col-auto mr-auto">  Form Detail</div>
                <div class="col-auto">
                    @if (ViewData["Ckuser"] == "Yes")
                    {

                        <form method="post">
                            <button asp-page-handler="DeleteForm" asp-route-formId="@ViewData["IDForm"]" asp-route-typeform="@ViewData["typeForm"]" class="btn btn-danger">Delete Form</button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-around mb-3">
                <div>
                    Created By:@Model.formHeader.Userid
                </div>
                <div>
                    Created Date: @Model.formHeader.Createdate
                </div>
            </div>
            <table class="table table-striped border">
                <tr class="text-center">
                    <th>#</th>
                    <th>Product name</th>
                    <th>Qty</th>
                    <th>Price</th>
                </tr>
                @for (var i = 0; i < Model.formDetail.Count; i++)
                {
                    <tr class="text-center">
                        <td>
                            <label name="[@i].No">@(i + 1)</label>
                        </td>
                        <td class="text-left">
                            <label name="[@i].ProductName">@Model.formDetail[i].ProductName</label>
                        </td>
                        <td class="text-right">
                            <label name="[@i].Qty">@Model.formDetail[i].Qty</label>
                        </td>
                        <td class="text-right">
                            <label name="[@i].Price">@Model.formDetail[i].Price</label>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="d-flex justify-content-around mb-3">
            <div>
                Status:
                @{
                    if (Model.formHeader.Status == "wait")
                    {
                        <span class="badge badge-secondary">Waiting</span>
                    }
                    else if (Model.formHeader.Status == "comfirm")
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                }
            </div>
        </div>

    </div>*@
