﻿@page
@model stockproject.UserModel
@{
    ViewData["Title"] = "User";
}
<div class="row mt-5 mb-3">
    <div class="col-12 text-center">
        <h3>รายการเคลื่อนย้ายสินค้า</h3>
    </div>
    @*<div class="col-12 text-right">
            <form method="post">
                <button asp-page-handler="GoToCreateForm" class="btn btn-primary"><i class="fas fa-file-medical mr-2"></i>Create Form</button>
            </form>
        </div>*@
</div>

<div class="container-table100 text-center">
    <div class="wrap-table100">
        <ul class="nav nav-tabs d-flex justify-content-around" id="myTab" role="tablist">
            <li class="nav-item flex-fill">
                <a class="nav-link active" id="formin-tab" data-toggle="tab" href="#formin" role="tab" aria-controls="formin" aria-selected="true"><i class="fas fa-shipping-fast mr-2"></i>นำเข้า (@Model.Formin.Count)</a>
            </li>
            <li class="nav-item flex-fill">
                <a class="nav-link" id="formout-tab" data-toggle="tab" href="#formout" role="tab" aria-controls="formout" aria-selected="false"><i class="fas fa-truck-loading mr-2"></i>จ่ายออก (@Model.Formout.Count)</a>
            </li>
        </ul>
        <div class="tab-content bg-white" id="myTabContent">
            <div class="tab-pane fade show active" id="formin" role="tabpanel" aria-labelledby="formin-tab">
                <table class="table table-hover my-table-custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>หัวข้อ</th>
                            <th>วันที่ทำการ</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Formin.Count == 0)
                        {
                            <tr class="text-center">
                                <td colspan="4">
                                    ไม่พบรายการในระบบ
                                </td>
                            </tr>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.Formin.Count; i++)
                            {
                                <tr class="@(Model.Formin[i].Status)">
                                    <td>
                                        <form asp-page-handler="VALUE" method="post">
                                            <button asp-page-handler="VALUE" class="btn btn-link">@(i + 1)</button>
                                            <input type="hidden" name="id" value="@Model.Formin[i].FormInid" />
                                            <input type="hidden" name="type" value="in" />
                                        </form>
                                    </td>
                                    <td>
                                        <p>FormIn</p>
                                    </td>
                                    <td>
                                        <p>@Model.Formin[i].Createdate</p>
                                    </td>
                                    @if (Model.Formin[i].Status == "confirm")
                                    {
                                        <td>
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        </td>
                                    }
                                    else if (Model.Formin[i].Status == "wait")
                                    {
                                        <td>
                                            <span class="text-secondary"><i class="fas fa-minus"></i></span>
                                        </td>
                                    }
                                    else if (Model.Formin[i].Status == "reject")
                                    {
                                        <td>
                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="formout" role="tabpanel" aria-labelledby="formout-tab">
                <table class="table table-hover my-table-custom">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>หัวข้อ</th>
                            <th>วันที่ทำการ</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Formin.Count == 0)
                        {
                            <tr class="text-center">
                                <td colspan="4">
                                    ไม่พบรายการในระบบ
                                </td>
                            </tr>
                        }
                        else
                        {
                            @for (var i = 0; i < Model.Formout.Count; i++)
                            {
                                <tr class="@(Model.Formout[i].Status)">
                                    <td>
                                        <form asp-page-handler="VALUE" method="post">
                                            <button asp-page-handler="VALUE" class="btn btn-link">@(i + 1)</button>
                                            <input type="hidden" name="id" value="@Model.Formout[i].FormOutid" />
                                            <input type="hidden" name="isFormIn" value="out" />
                                        </form>
                                    </td>
                                    <td>
                                        <p>FormOut</p>
                                    </td>
                                    <td>
                                        <p>@Model.Formout[i].Createdate</p>
                                    </td>
                                    @if (Model.Formout[i].Status == "confirm")
                                    {
                                        <td>
                                            <span class="text-success"><i class="fas fa-check"></i></span>
                                        </td>
                                    }
                                    else if (Model.Formout[i].Status == "wait")
                                    {
                                        <td>
                                            <span class="text-secondary"><i class="fas fa-minus"></i></span>
                                        </td>
                                    }
                                    else if (Model.Formout[i].Status == "reject")
                                    {
                                        <td>
                                            <span class="text-danger"><i class="fas fa-times"></i></span>
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>