﻿@page
@model Pizza.BillDetailModel
@{
    ViewData["Title"] = "BillDetail";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-12 text-center">
            <h3>
                บิล
            </h3>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            ชื่อลูกค้า: @Model.overViewBill.customName
                        </div>
                        <div class="col">
                            วันที่สร้าง: @Model.overViewBill.Datecreate
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-left">
                        <h5 class="card-title">รายการสั่งซื้อของคุณ:</h5>
                    </div>
                    <div class="row">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>รายการที่</th>
                                    <th>ชื่อสินค้า</th>
                                    <th>จำนวน</th>
                                    <th>ราคา</th>
                                </tr>
                            </thead>

                            <tbody>
                                @for (var i = 0; i < Model.detailList.Count; i++)
                                {
                                <tr class="text-center">
                                    <td>
                                        <label name="[@i].No">@(i + 1)</label>
                                    </td>
                                    <td>
                                        <label name="[@i].ProductName">@Model.detailList[i].menu</label>
                                    </td>
                                    <td>
                                        <label name="[@i].Price">@Model.detailList[i].qty</label>
                                    </td>
                                    <td>
                                        <label name="[@i].Price">@Model.detailList[i].price</label>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <h5 class="card-title">ราคารวม: @Model.overViewBill.totalPrice</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>