﻿@page
@model Pizza.ProductModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";
}
<style>

    .fontsize {
        font-size: 15px
    }
</style>

<div class="text-center fontsize">
    <div class="col-12 mt-4" style="justify-content:center">
        <h2>
            จัดการสินค้า
        </h2>
        <div class="col-12 mt-4">
        <form method="post">
            <div class="row justify-content-end">
                <div class="text-right mb-2">
                    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#MenuModal">
                        <i class="fas fa-plus mr-2"></i> สร้างสินค้า
                    </button>
                </div>
                <div class="text-right mb-2">
                    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#SizeModal">
                        <i class="fas fa-plus mr-2"></i> สร้างขนาด
                    </button>
                </div>
                <div class="text-right mb-2">
                    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#ToppingModal">
                        <i class="fas fa-plus mr-2"></i> สร้างท็อปปิ้ง
                    </button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">สินค้า</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="size-tab" data-toggle="tab" href="#size" role="tab" aria-controls="size" aria-selected="false">ขนาด</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#topping" role="tab" aria-controls="contact" aria-selected="false">ท็อปปิ้ง</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab" style="border: solid 0.3px #80808047;">
            <form method="post">
                <div class="row col-12 justify-content-end mt-2 mb-2" style="padding:unset">
                    <button asp-page-handler="UpdateMenu" class="btn btn-outline-info" style="width:auto">ปรับปรุงข้อมูลสินค้า</button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ยกเลิกสินค้า</th>
                            <th>ชื่อสินค้า</th>
                            <th>ประเภท</th>
                            <th>ราคา</th>
                            <th>จำนวน</th>
                            <th>วันที่สร้าง</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.menus.Count; i++)
                        {

                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Html.CheckBoxFor(m => m.menus[i].Ishide)

                                </td>
                                <td>
                                    @Html.HiddenFor(m => m.menus[i].Menuid)
                                    @Html.TextBoxFor(m => m.menus[i].Menuname, new { @class = "form-control", @type = "text" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.menus[i].Typeid, new { @class = "form-control" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.menus[i].Price, new { @class = "form-control", @type = "number" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.menus[i].Qty, new { @class = "form-control", @type = "number" })
                                </td>
                                <td>
                                    <p>@Model.menus[i].Datecreate</p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
        <div class="tab-pane fade" id="size" role="tabpanel" aria-labelledby="size-tab" style="border: solid 0.3px #80808047;">
            <form method="post">
                <div class="row col-12 justify-content-end mt-2 mb-2" style="padding:unset">
                    <button asp-page-handler="UpdateSizes" class="btn btn-outline-info" style="width:auto">ปรับปรุงข้อมูลขนาด</button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ชื่อขนาด</th>
                            <th>ราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.sizes.Count; i++)
                        {

                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.sizes[i].Sizename, new { @class = "form-control", @type = "text" })
                                    @Html.HiddenFor(m => m.sizes[i].Sizeid)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.sizes[i].Sizeprice, new { @class = "form-control", @type = "number" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
        <div class="tab-pane fade" id="topping" role="tabpanel" aria-labelledby="topping-tab" style="border: solid 0.3px #80808047;">
            <form method="post">
                <div class="row col-12 justify-content-end mt-2 mb-2" style="padding:unset">
                    <button asp-page-handler="Updatetoppings" class="btn btn-outline-info" style="width:auto">ปรับปรุงข้อมูลท็อปปิ้ง</button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ชื่อท็อปปิ้ง</th>
                            <th>ราคา</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.toppings.Count; i++)
                        {

                            <tr>
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.toppings[i].Toppingname, new { @class = "form-control", @type = "text" })
                                    @Html.HiddenFor(m => m.toppings[i].Toppingid)
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.toppings[i].Toppingprice, new { @class = "form-control", @type = "number" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="MenuModal" tabindex="-1" role="dialog" aria-labelledby="menuLabel" aria-hidden="true">
    <form method="post" enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="menuLabel">เพิ่มเมนูสินค้า</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <lable>
                                    หมวดหมู่
                                </lable>
                                @Html.DropDownListFor(model => model.typeId,
                                    Model.selectListItems, new { @class = "form-control", @type = "text", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">ชื่อสินค้า</label>
                                <input type="text" class="form-control" name="name" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">ราคา</label>
                                <input type="number" class="form-control" name="price" placeholder="199" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">คำอธิบาย</label>
                                <input type="text" class="form-control" name="description" placeholder="Description" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">อัพโหลดรูปภาพ</label>
                                <input type="file" asp-for="Upload" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button class="btn btn-success" asp-page-handler="CreateMenu"><i class="fas fa-check mr-2"></i>บันทึก</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="SizeModal" tabindex="-1" role="dialog" aria-labelledby="sizeLabel" aria-hidden="true">
    <form method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizeLabel">เพิ่มขนาด</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">ชื่อขนาด</label>
                                <input type="text" class="form-control" name="name" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">ราคา</label>
                                <input type="number" class="form-control" name="price" placeholder="199" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button class="btn btn-success" asp-page-handler="CreateSize"><i class="fas fa-check mr-2"></i>บันทึก</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="ToppingModal" tabindex="-1" role="dialog" aria-labelledby="sizeLabel" aria-hidden="true">
    <form method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizeLabel">เพิ่มท็อปปิ้ง</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput2">ชื่อท็อปปิ้ง</label>
                                <input type="text" class="form-control" name="name" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="formGroupExampleInput">ราคา</label>
                                <input type="number" class="form-control" name="price" placeholder="199" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button class="btn btn-success" asp-page-handler="CreateTopping"><i class="fas fa-check mr-2"></i>บันทึก</button>
                </div>
            </div>
        </div>
    </form>
</div>