﻿@page
@model Pizza.summaryReportModel
@{
    ViewData["Title"] = "summaryReport";
    Layout = "~/Pages/Shared/_Layoutadmin.cshtml";

}
<style>
    a {
        color: #6d6d6d;
    }

    h5 {
        color: #6d6d6d;
    }

    a:hover {
        color: #d3941e !important;
        text-decoration: underline;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #d3941e !important;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .tabs {
        position: relative;
        width: 100%;
    }

    .fontsize {
        font-size: 15px
    }
</style>

<div class="text-center">
    <div class="col-12 mt-4" style="justify-content:center">
        <h2>
            ผลสรุปทั้งหมด
        </h2>
    </div>
    <ul class="nav nav-tabs pt-4 nav-pills nav-fill fontsize" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="active-bill" data-toggle="tab" href="#active" role="tab" aria-controls="active" aria-selected="true"><i class="far fa-calendar-check"></i> บิลที่ชำระแล้ว</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="inactive-bill" data-toggle="tab" href="#inactive" role="tab" aria-controls="inactive" aria-selected="false"><i class="far fa-calendar-times"></i> บิลที่ไม่ชำระ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="summary-report" data-toggle="tab" href="#report" role="tab" aria-controls="report" aria-selected="false"><i class="far fa-calendar-alt"></i> ผลรวม</a>
        </li>
    </ul>
    <div class="tab-content bg-white fontsize" id="myTabContent">
        <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-bill" style="border: solid 0.3px #80808047;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ชื่อลูกค้า</th>
                        <th>จำนวนรวม</th>
                        <th>ราคารวม</th>
                        <th>วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.paidBill.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Admin/BillDetail" asp-route-id="@Model.paidBill[i].Id">@(i + 1)</a>
                            </td>
                            <td>
                                <p>@Model.paidBill[i].customName</p>
                            </td>
                            <td>
                                <p>@Model.paidBill[i].countItem</p>
                            </td>
                            <td>
                                <p>@Model.paidBill[i].totalPrice</p>
                            </td>
                            <td>
                                <p>@Model.paidBill[i].Datecreate</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="inactive" role="tabpanel" aria-labelledby="inactive-bill" style="border: solid 0.3px #80808047;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ชื่อลูกค้า</th>
                        <th>จำนวนรวม</th>
                        <th>ราคารวม</th>
                        <th>วันที่สร้าง</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.nonPaidBill.Count; i++)
                    {
                        <tr>
                            <td>
                                <a asp-page="/Admin/BillDetail" asp-route-id="@Model.nonPaidBill[i].Id">@(i + 1)</a>
                            </td>
                            <td>
                                <p>@Model.nonPaidBill[i].customName</p>
                            </td>
                            <td>
                                <p>@Model.nonPaidBill[i].countItem</p>
                            </td>
                            <td>
                                <p>@Model.nonPaidBill[i].totalPrice</p>
                            </td>
                            <td>
                                <p>@Model.nonPaidBill[i].Datecreate</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="summary-report" style="border: solid 0.3px #80808047;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>หัวข้อ</th>
                        <th>จำนวนบิล</th>
                        <th>ผลรวม</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.summarybills.Count; i++)
                    {
                        <tr>
                            <td>@Model.summarybills[i].name</td>
                            <td>@Model.summarybills[i].count</td>
                            <td>@Model.summarybills[i].total.ToString("C0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>