﻿@*
    หน้านี้ของ user
*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - stockproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom shadow-sm mb-3">
            <div class="container m-0" style="min-width:100%;">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="fas fa-box-open"></i> Stock</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav  mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Stock/Product"><i class="fas fa-cubes mr-2"></i>คลังสินค้า</a>
                        </li>
                        @{
                            @using System.Security.Claims;
                            var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
                            if (role == "1")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Stock/Admin/CreateUser"><i class="fas fa-user-plus mr-2"></i>เพิ่มผู้ใช้</a>
                                </li>
                            }
                        }
                    </ul>
                    <form class="form-inline my-2 my-lg-0" method="post" asp-page="/Index" asp-page-handler="LogOff">
                        <a class="mr-3">สวัสดี, คุณ @User.Identity.Name.</a>
                        <button class="btn my-2 my-sm-0"><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="~/lib/font-awesome/js/all.min.js"></script>
    @*<script src="https://kit.fontawesome.com/29690c7f9b.js" crossorigin="anonymous"></script>*@
    @RenderSection("Scripts", required: false)

</body>
</html>
