﻿@*
    หน้านี้มีหน้าที่เป็นเหมือน Teamplate ไว้นำส่วนโค้ดที่ใช้ซ้ำๆมาไว้ในหน้านี้เล่น ปุ่ม Logout หรือ Menubar หรือการ Render script ต่างๆเช่นการโหลดไอค่อน/โหลด CSS(การตกแต่ง)
    การเรียกใช้จะเรียกผ่านชื่อไฟล์ โดยไฟล์นี้จะอยู่ในโฟล์เดอร์ shared ที่โปรแกรมสร้างขึ้นให้โดยอัตโนมัติ
    เวลาเรียกใช้จะเรียกผ่านคำสั่ง Layout ในหน้าต่างๆจะเห็นคำสั่งนี้อยู่

    โดยไฟล์นี้เป็นไฟล์ Template สำหรับหน้า login การ Render หน้าเว็ปจะทำผ่านคำสั่ง @RenderBody()
    โดยเหมือนเอาหน้าที่ใช้คำสั่ง Layout เอาแปะตรง RenderBody นั่นเอง
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - stockproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">stockproject</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="h-100">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2562 - stockproject - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer src="~/lib/font-awesome/js/all.min.js"></script>
    @*<script src="https://kit.fontawesome.com/29690c7f9b.js" crossorigin="anonymous"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
