﻿@page
@model stockproject.Pages.Stock.CreateFormModel
@{
    ViewData["Title"] = "CreateForm";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Model.products.Count == 0)
{
    <div class="row">
        <div class="col-12 text-center">
            <span class="mr-2">กรุณาเลือกสินค้าก่อนทำรายการต่อไป.</span>
        </div>
    </div>
}
else
{
    <form method="post">
        <div class="row mt-5 mb-3">
            <div class="col-12 text-center">
                <h3>เพิ่มรายการเคลื่อนย้าย</h3>
            </div>
        </div>
        <div class="container-create-form">
            <div class="wrap-create-form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <lable>ประเภทรายการ: </lable>
                            @Html.DropDownListFor(model => model.formId,
                                new List<SelectListItem> {
                               new SelectListItem { Value = "1" , Text = "ใบนำเข้า" },
                               new SelectListItem { Value = "2" , Text = "ใบนำออก" },
                               }, new { @class = "form-control my-select-box-custom", @type = "text" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="table-wrapper">
                            <table class="table table-hover my-table-custom">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th></th>
                                        <th>สินค้า</th>
                                        <th>จำนวน <small>(หน่วย)</small></th>
                                        <th>ราคา/หน่วย <small>(บาท)</small></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.products.Count; i++)
                                    {
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td>
                                                <span>
                                                    <img class="img-table-view" src="~/pic/@Model.products[i].Picpath" width="277" height="180">
                                                </span>
                                            </td>
                                            <td>@Model.products[i].Productname</td>
                                            <td style="width: 200px;">
                                                @Html.TextBoxFor(value => value.products[i].Qty, new { @type = "number", @placeholder = "0", @class = "form-control my-text-input-custom", @required = true, @min = "1" })
                                                @Html.HiddenFor(value => value.products[i].Productid)
                                                @Html.HiddenFor(value => value.products[i].Price)
                                            <td class="text-right pr-4">@Model.products[i].Price</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" asp-page-handler="Create"><i class="fas fa-check mr-2"></i>สร้างรายการ</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
