﻿@page
@model stockproject.CreateProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="row mt-5 mb-3">
        <div class="col-12 text-center">
            <h3>เพิ่มสินค้า</h3>
        </div>
    </div>
    <div class="container-create-product">
        <div class="wrap-create-product">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="formGroupExampleInput">ชื่อสินค้า</label>
                        @Html.TextBoxFor(value => value.name, new { @type="text", @placeholder = "กล่องกระดาษใบใหญ่", @class = "form-control my-text-input-custom", @required = true})
                        @*<input type="text" class="form-control my-text-input-custom" name="name" placeholder="กล่องกระดาษใบใหญ่" required>*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">คำอธิบาย</label>
                        @Html.TextBoxFor(value => value.description, new { @type="text", @placeholder = "คำอธิบาย", @class = "form-control my-text-input-custom", @required = true})
                        @*<input type="text" class="form-control my-text-input-custom" name="description" placeholder="คำอธิบาย" required/>*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">ราคา</label>
                        @Html.TextBoxFor(value => value.price, new { @type="number", @placeholder = "129", @class = "form-control my-text-input-custom", @required = true})
                        @*<input type="number" class="form-control my-text-input-custom" name="price" placeholder="129" required>*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">ส่วนลด</label>
                        @Html.TextBoxFor(value => value.discount, new { @type="number", @value="0" , @placeholder = "0", @class = "form-control my-text-input-custom", @required = true})
                        @*<input type="number" class="form-control my-text-input-custom" name="discount" value="0"  required>*@
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput3">รูปภาพ</label>
                        <input type="file" asp-for="Upload" />
                        @*<input type="file" name="file" id="file" asp-for="Upload" class="inputfile" />
            <label for="file">เลือกรูปภาพ...</label>*@
                        @*@if (Model.Upload != null)
            {
                <span>
                    @Model.Upload.FileName
                </span>
            }*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary" asp-page-handler="ToCreate"><i class="fas fa-check mr-2"></i>เพิ่ม</button>
                </div>
            </div>
        </div>
    </div>
</form>

