﻿@page
@model stockproject.Pages.Stock.ProductModel

@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <div class="row mt-5 mb-3">
        <div class="col-12 text-center">
            <h3>คลังสินค้า</h3>
        </div>
        <div class="col-6 text-left">
            @Html.HiddenFor(model => model.viewMode)
            @if (@Model.viewMode == true)
            {
                <button asp-page-handler="ChangeView" class="btn btn-primary"><i class="far fa-images"></i></button>
            }
            else
            {
                <button asp-page-handler="ChangeView" class="btn btn-primary"><i class="fas fa-table"></i></button>
            }
        </div>
        <div class="col-6 text-right">
            <button asp-page-handler="ToCreate" class="btn btn-primary"><i class="fas fa-file-medical mr-2"></i>สร้าง</button>
            <button asp-page-handler="ToCreateProduct" class="btn btn-primary"><i class="fas fa-cubes mr-2"></i>เพิ่มสินค้า</button>
            @{
                @using System.Security.Claims;
                var role = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
                if (role == "1")
                {
                    @if (@Model.viewMode == true)
                    {
                        <button asp-page-handler="ToUpdateProduct" class="btn btn-primary"><i class="fas fa-cubes mr-2"></i>แก้ไขสินค้า</button>
                    }
                }
            }
        </div>
    </div>
    @if (@Model.viewMode == true)
    {
        <div class="container-table100 text-center">
            <div class="wrap-table100">
                <table class="table table-hover my-table-custom">
                    <thead>
                        <tr>
                            <th style='text-align:center;'>#</th>
                            <th style='text-align:center;'>เลือก</th>
                            <th style='text-align:center;'></th>
                            <th style='text-align:center;'>สินค้า</th>
                            <th style='text-align:center;'>คำอธิบาย</th>
                            <th style='text-align:center;'>คงเหลือ  <small>(หน่วย)</small></th>
                            <th style='text-align:center;'>ราคา<small>/หน่วย</small> <small>(บาท)</small></th>
                            <th style='text-align:center;'>ส่วนลด</th>
                        </tr>
                    </thead>

                    <tbody style="height: 250px; overflow-y: auto; overflow-x: hidden;">
                        @if (Model.list.Count == 0)
                        {
                            <tr class="text-center">
                                <td colspan="8">
                                    ไม่พบข้อมูลสินค้าในระบบ
                                </td>
                            </tr>
                        }
                        else
                        {
                            @for (int i = 0; i < Model.list.Count; i++)
                            {

                                <tr>
                                    <td style='text-align:center;'>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        <label class="checkbox-container">
                                            <input class="form-check" name="prid" type="checkbox" value="@Model.list[i].Productid" />
                                            <span class="checkmark" style="top: -2vh; left: 2vw;"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <span>
                                            <img class="img-table-view" src="~/pic/@Model.list[i].Picpath" width="277" height="180">
                                        </span>
                                    </td>
                                    @if (role == "1")
                                    {
                                        <td style='text-align:center;'>@Html.TextBoxFor(m => m.list[i].Productname, new { @class = "form-control my-text-input-custom", @type = "text" })</td>
                                        @Html.HiddenFor(m => m.list[i].Productid)

                                        <td style='text-align:center;'>@Html.TextBoxFor(m => m.list[i].Description, new { @class = "form-control my-text-input-custom", @type = "text" })</td>
                                        <td style='text-align:center;'>@Model.list[i].Qty</td>

                                        <td style='text-align:center;'>@Html.TextBoxFor(m => m.list[i].Price, new { @class = "form-control my-text-input-custom", @type = "number" })</td>
                                        <td style='text-align:center;'>@Html.TextBoxFor(m => m.list[i].Discount, new { @class = "form-control my-text-input-custom", @type = "text" })</td>
                                    }
                                    else
                                    {
                                        <td style='text-align:center;'>@Model.list[i].Productname</td>

                                        <td style='text-align:center;'>@Model.list[i].Description</td>
                                        <td style='text-align:center;'>@Model.list[i].Qty</td>

                                        <td style='text-align:center;'>@Model.list[i].Price</td>
                                        <td style='text-align:center;'>@Model.list[i].Discount</td>

                                    }

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row product-card-list">
            @if (Model.list.Count == 0)
            {
                <table class="table table-hover my-table-custom">
                    <tbody>
                        <tr class="text-center">
                            <td colspan="8">
                                ไม่พบข้อมูลสินค้าในระบบ
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
                @for (int i = 0; i < Model.list.Count; i++)
                {
                    <div class="col-lg-3 col-md-4 col-sm-12 col-xl-3 mb-3 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <span class="img-card-view"><img src="~/pic/@Model.list[i].Picpath" width="277" height="180"></span>
                            </div>
                            <div class="card-title">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="checkbox-container">
                                            <input class="form-check" name="prid" type="checkbox" value="@Model.list[i].Productid" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <span>@Model.list[i].Productname</span>
                                    </div>
                                </div>
                                <br />
                                <span style="margin-left: 35px;" class="text-muted">
                                    @Model.list[i].Description
                                </span>
                            </div>
                            <hr class="mt-0" />
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-12 text-right">
                                        <span class="qty">
                                            คงเหลือ: @Model.list[i].Qty <small>หน่วย</small>
                                        </span>
                                    </div>
                                    @*<div class="col-12 text-right">
                                            <span class="description">
                                              คำอธิบาย:
                                            </span>
                                        </div>*@
                                    <div class="col-12 text-right">
                                        <span class="price">
                                            ราคา<small>/หน่วย</small>: @Model.list[i].Price <small>บาท</small>
                                        </span>
                                    </div>
                                    <div class="col-12 text-right">
                                        <span class="discount">
                                            ส่วนลด : @Model.list[i].Discount <small>%</small>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }
</form>