﻿@page
@model Pizza.billModel
@{
    ViewData["Title"] = "bill";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>

    /*@@font-face {
        font-family: 'supermarket';
        src: url('font/supermarket.ttf') format('truetype');
    }*/
    /*@@font-face {
        font-family: 'fake receipt';
        src: url('font/fake receipt.ttf') format('truetype');
    }*/
    @@font-face {
        font-family: 'merchantcopy';
        src: url('~/font/merchant copy.ttf') format('truetype');
    }

    .font {
        font-family: 'merchantcopy';
        font-size: 18px;
    }

    h6 {
        font-weight: bold;
        font-size: 18px;
    }

    .bg {
        display: block;
        /*position: absolute;*/
        background-color: hsla(0, 0%, 99%, 0.93);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 450px 410px;
    }
</style>

@if (ViewData["status"] == "update")
{
    <style>
        .submit {
            width: 400px;
            height: 50px;
        }

        .txtcenter {
            text-align: center;
            color: #f8f9fa;
            background-color: #2fbc4f;
        }
    </style>
}
else
{
    <style>
        .submit {
            width: 670px;
            height: 55px;
            font-size: 20px;
        }

        .txtcenter {
            text-align: center;
            color: #28a745;
        }

        .paddingbtn {
            padding-top: 20px;
        }
    </style>
}
<div class="container">
    <main role="main">
        <div class="col-md-8 offset-md-2 font">
            <div @*class="jumbotron"*@>
                <div class="card shadow bg" style="background-image: url('/pic/Shrimp Cocktail.png');">
                    <div class="card-header txtcenter">
                        <h2>บิลหมายเลข : @ViewData["Bill"]</h2>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>รายการที่</th>
                                            <th>ชื่อสินค้า</th>
                                            <th>จำนวน</th>
                                            <th>ราคา</th>

                                        </tr>
                                    </thead>

                                    <tbody style="height: 250px; overflow-y: auto; overflow-x: hidden; ">

                                        @for (int i = 0; i < Model.list.Count; i++)
                                        {

                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model.list[i].menu</td>
                                                <td>@Model.list[i].qty</td>
                                                <td>@Model.list[i].price</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>ขนาด : (@Model.list[i].sizename)</td>
                                                <td>-</td>
                                                <td>@Model.list[i].sizeprice</td>
                                            </tr>
                                            if (@Model.list[i].Toppingname1 != null)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>เพิ่มเติม(@Model.list[i].Toppingname1)</td>
                                                    <td>-</td>
                                                    <td>@Model.list[i].Toppingprice1</td>
                                                </tr>
                                            }
                                            if (@Model.list[i].Toppingname2 != null)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>เพิ่มเติม(@Model.list[i].Toppingname2)</td>
                                                    <td>-</td>
                                                    <td>@Model.list[i].Toppingprice2</td>
                                                </tr>
                                            }
                                            if (@Model.list[i].Toppingname3 != null)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>เพิ่มเติม(@Model.list[i].Toppingname3)</td>
                                                    <td>-</td>
                                                    <td>@Model.list[i].Toppingprice3</td>
                                                </tr>
                                            }
                                            if (@Model.list[i].Toppingname4 != null)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td>เพิ่มเติม(@Model.list[i].Toppingname4)</td>
                                                    <td>-</td>
                                                    <td>@Model.list[i].Toppingprice4</td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Total</th>
                                            <th>@ViewData["Sum"] </th>

                                        </tr>
                                    </thead>
                                </table>

                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <h6>ชื่อลูกค้า</h6>
                                        <p>@ViewData["Username"]</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>เบอร์โทร</h6>
                                        <p>@ViewData["Phone"]</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <h6>ที่อยู่จัดส่ง</h6>
                                        <p>@ViewData["Address"]</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>อีเมลล์</h6>
                                        <p>@ViewData["Email"]</p>
                                    </div>
                                </div>
                                @*<div>
                                        <h6>Address</h6>
                                        <p>@ViewData["Address"]</p>
                                    </div>*@
                                <div class="row">
                                    <div class="col-6">
                                        <h6>เลขบัตร</h6>
                                        <p>@ViewData["Numbercard"]</p>
                                    </div>
                                    <div class="col-6">
                                        <h6>เงินทอน</h6>
                                        <p>@ViewData["Change"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center paddingbtn">
                                @if (ViewData["status"] == "update")
                                {

                                }
                                else
                                {

                                    <button type="submit" name="id" value="@ViewData["Bill"]" class="btn btn-success submit" asp-page-handler="Update"><i class="fas fa-check-circle"></i> ยืนยัน</button>
                                }
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div style="padding-bottom: 210px;">

        </div>
    </main>
</div>
