﻿@page
@model Pizza.CathModel
@{
    ViewData["Title"] = "Cath";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@if (Model.menus == null || Model.menus.Count() == 0)
{
    <div class="text-center" style="height:50%">
        <p>เลือกสินค้าก่อน</p>

    </div>
}
else
{
    <style>
        .main {
            width: 30%;
            margin: 0px auto;
        }

        .form-group .form-control {
            padding-left: 1.375rem;
        }

        .form-group .form-control-icon {
            padding-left: 0.375rem;
            position: absolute;
            z-index: 2;
            display: block;
            width: 1.675rem;
            height: 2.175rem;
            line-height: 2.175rem;
            text-align: right;
            pointer-events: none;
            color: #aaa;
        }

        .textR {
            text-align: right;
            border: 2px solid #bdff54b8;
        }

        table {
            border: 1px solid #dee2e6;
        }

        .form-group {
            margin-bottom: 0rem;
        }
        .hidden{
            display:none;
        }
    </style>
    <div class="container">
        <main role="main">
            <div class=text-center>
                @*<div class="d-flex justify-content-center">*@
                <div class="">
                    <form method="post">
                        <div class="card shadow">
                            <div class="card-header d-flex justify-content-between">
                                <h3 class="d-inline">
                                    รถเข็นของฉัน
                                </h3>
                                <button class="btn btn-success" asp-page-handler="Con"><i class="fas fa-wallet"></i> จ่ายเงิน</button>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                รายการ
                                            </th>
                                            <th>
                                                ชื่อสินค้า
                                            </th>
                                            <th>
                                                จำนวน
                                            </th>
                                            <th>
                                                ราคาต่อชิ้น
                                            </th>
                                            <th>
                                                ลบ
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.menus.Count(); i++)
                                        {
                                            <tr>
                                                <td>
                                                    @(i + 1)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.menus[i].Menuname)
                                                </td>
                                                <td>
                                                    <div class="main">
                                                        <div class="form-group">
                                                            <span class="fa fa-weight-hanging form-control-icon"></span>
                                                            @*<input type="text" class="form-control" placeholder="Search">*@
                                                            @Html.TextBoxFor(m => m.menus[i].QtyOrder, new { @type = "number", @class = "form-control textR", @min = "1", @required = "required" })
                                                        </div>
                                                    </div>
                                                    @*@Html.TextBoxFor(m => m.menus[i].Qty)*@
                                                    @Html.HiddenFor(m => m.menus[i].Menuid)
                                                    @Html.HiddenFor(m => m.menus[i].Menuname)
                                                    @Html.HiddenFor(m => m.menus[i].Price)
                                                    @Html.HiddenFor(m => m.menus[i].Typeid)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => m.menus[i].Price)
                                                </td>
                                                <td data-title="ลบ" style="text-align:center;">
                                                    @Html.HiddenFor(m => m.menus[i].Menuid)
                                                    <button class="btn btn-link" asp-page-handler="CutoutProduct" asp-route-i="@i">
                                                        <i style="color:tomato" class="fas fa-times fa-lg"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                            @if (Model.menus[i].Sizeid != null)
                                            {
                                                <tr>
                                                    <td style="border-top:unset">
                                                    </td>
                                                    <td style="border-top:unset">
                                                        @Html.DisplayFor(m => m.menus[i].SizeName)
                                                    </td>
                                                    <td style="border-top:unset">
                                                    </td>
                                                    <td style="border-top:unset">
                                                        + @Html.DisplayFor(m => m.menus[i].SizePrice)
                                                        @Html.HiddenFor(m => m.menus[i].Sizeid)
                                                        @Html.HiddenFor(m => m.menus[i].SizePrice)
                                                    </td>
                                                    <td style="border-top:unset">
                                                    </td>
                                                </tr>
                                            }
                                                @if (Model.menus[i].ToppingidQty1 != 0)
                                                {
                                                    <tr>
                                                        <td style="border-top:unset">
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidName1)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidQty1)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            + @Html.DisplayFor(m => m.menus[i].ToppingidPrice1)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidId1)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidPrice1)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidQty1)
                                                        </td>
                                                        <td style="border-top:unset">
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.menus[i].ToppingidQty2 != 0)
                                                {
                                                    <tr>
                                                        <td style="border-top:unset">
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidName2)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidQty2)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            + @Html.DisplayFor(m => m.menus[i].ToppingidPrice2)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidId2)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidPrice2)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidQty2)

                                                        </td>
                                                        <td style="border-top:unset">
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.menus[i].ToppingidQty3 != 0)
                                                {
                                                    <tr>
                                                        <td style="border-top:unset">
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidName3)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidQty3)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            + @Html.DisplayFor(m => m.menus[i].ToppingidPrice3)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidId3)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidPrice3)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidQty3)

                                                        </td>
                                                        <td style="border-top:unset">
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.menus[i].ToppingidQty4 != 0)
                                                {
                                                    <tr>
                                                        <td style="border-top:unset">
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidName4)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            @Html.DisplayFor(m => m.menus[i].ToppingidQty4)
                                                        </td>
                                                        <td style="border-top:unset">
                                                            + @Html.DisplayFor(m => m.menus[i].ToppingidPrice4)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidId4)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidPrice4)
                                                            @Html.HiddenFor(m => m.menus[i].ToppingidQty4)

                                                        </td>
                                                        <td style="border-top:unset">
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                @*@{
                    float? sum = 0;
                    for (int i = 0; i < Model.menus.Count(); i++)
                    {
                        sum += (Model.menus[i].QtyOrder * Model.menus[i].Price) + Model.menus[i].SizePrice;
                        sum += (Model.menus[i].ToppingidPrice1 * Model.menus[i].ToppingidQty1);
                        sum += (Model.menus[i].ToppingidPrice2 * Model.menus[i].ToppingidQty2);
                        sum += (Model.menus[i].ToppingidPrice3 * Model.menus[i].ToppingidQty3);
                        sum += (Model.menus[i].ToppingidPrice4 * Model.menus[i].ToppingidQty4);
                        if (i == (Model.menus.Count() - 1))
                        {



                            <td>
                                <input class="hidden" name="sum" value="@sum">
                                <p>รวม @sum</p>
                            </td>
                        }
                    }
                }*@
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                </table>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
            <div style="padding-bottom: 250px;">

            </div>
        </main>
    </div>

}

