﻿@page
@model Pizza.choicePayModel
@{
    ViewData["Title"] = "choicePay";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js">
    </script>
}

<style>
    .hidden {
        display: none;
    }

    .choice {
        padding: 18px;
        color: #fff;
        width: 200px;
        font-size: 1.2rem;
    }

    .submit {
        width: 250px;
    }

    .choice:hover {
        color: #212529;
    }

    .select {
        /*background: #0053ba;*/
        outline: 1px solid #fff;
        outline-offset: -4px;
        transform: scale(0.99);
    }
</style>
<script>
    var showAlert = "@ViewData["showAlert"]";
    var alertMessage = "@ViewData["Message"]";
    if (showAlert === "True") {
        alert(alertMessage);
    }

</script>
<div class="container">
    <main role="main">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-header">
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-info choice select" id="credit"><i class="fas fa-credit-card"></i> บัตรเครดิต</button>&nbsp;
                        <button type="button" class="btn btn-warning choice" id="cash"><i class="fas fa-money-bill-wave"></i> เงินสด</button>
                    </div>
                </div>
                <div id="showcredit" class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post">

                        <div class="form-group">
                            <label for="inputEmail4">Card Number</label>    @*<span asp-validation-for="Cardnumber" class="text-danger"></span>*@
                            @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@
                            @if (ViewData["Cardnumber"] == null)
                            {
                                <input type="text" name="Cardnumber" class="form-control" id="Cardnumber" placeholder="เช่น 9999-9999-9999-9999" required>
                            }
                            else
                            {
                                <input type="text" name="Cardnumber" class="form-control" id="Cardnumber" placeholder="เช่น 9999-9999-9999-9999" value="@ViewData["Cardnumber"]" required>
                            }

                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Month</label>
                                <select name="Month" class="form-control" required>
                                    <option value="january">January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="july">July</option>
                                    <option value="august">August</option>
                                    <option value="september">September</option>
                                    <option value="october">October</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Year</label>
                                <select name="year" class="form-control" required>

                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option selected value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>CVV</label>@*<span asp-validation-for="cvv" class="text-danger"></span>*@

                                @if (ViewData["cvv"] == null)
                                {
                                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="เช่น 560" required>
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="เช่น 560" value="@ViewData["cvv"]" required>

                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Name on Card</label>@*<span asp-validation-for="cardname" class="text-danger"></span>*@

                            <input type="text" class="form-control" name="cardname" id="cardname" placeholder="เช่น Richard Bovell" required>
                        </div>
                        <div class="row">
                            <div class="col-md-12 offset-md-12">
                                <p><strong>ราคารวม:</strong> @ViewData["sum"]</p>
                            </div>

                        </div>

                        <div class="row justify-content-center">

                            <button type="submit" name="id" value="@ViewData["Bill"]" class="btn btn-success submit" asp-page-handler="Credit"><i class="fas fa-arrow-right"></i> ต่อไป</button>
                        </div>
                    </form>
                </div>
                <div id="showcash" class="card-body hidden">
                    <form method="post">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Cash</label> @*<span asp-validation-for="money" class="text-danger"></span>*@
                                <input type="number" class="form-control" name="money" placeholder="เช่น 999" required>
                            </div>
                            <div class="row">
                                <div class="col-md-12 offset-md-12">
                                    <p><strong>ราคารวม:</strong> @ViewData["sum"]</p>
                                </div>

                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <button type="submit" name="id" value="@ViewData["Bill"]" class="btn btn-success submit" asp-page-handler="Cash"><i class="fas fa-arrow-right"></i> ต่อไป</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div style="padding-bottom: 180px;">

        </div>
    </main>
</div>
