﻿@page
@model Pizza.MenuDetailModel
@{
    ViewData["Title"] = "MenuDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .card-text {
        word-wrap: break-word;
        border: none;
    }

    .newline {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    .colorborder {
        border: 2px solid #d8861c4a;
    }

    .detail {
        text-align: left;
        font-size: 15px;
        color: #6c757d !important;
        padding-left: 13px;
    }
    .textR {
        text-align: start;
        border: 1px solid #000000;
        width: 50px;
        height: 32px;
        position: relative;
        display: inline-block;
        vertical-align: initial;
    }
    .textsize {
     
        width: 200px;
        border: 1px solid #000000;
  
    }

</style>
@if (Model.menus == null)
{
    <p>เลือกสินค้าก่อน</p>
}
else
{
    <div class="container">
        <main role="main">
            <div class="text-center">
                <form method="post">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                                    <img src="~/pic/@Model.menus[0].Pic" class="card-img">
                                </div>
                                <div style="width: 18rem;">
                                    <div class="shadow-lg p-3 mb-5 rounded" style="height: 40rem">
                                        <h4 class="card-title">@Model.menus[0].Menuname</h4>
                                        <p class="card-text mb-2 newline detail">@Model.menus[0].Description</p>
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger", @style = "left: 50px" })

                                        <table>
                                            <tr>
                                                <td>ขนาด : </td>
                                                <td>    </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.SizeId,
                                               Model.selectListItems, new { @class = "form-control textsize", @type = "text", @required = "required" })
                                                </td>
                                            </tr>
                                        </table> 
                                                     @if (Model.menus[0].Typeid == 1)
        {
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>เพิ่มเติม</th>
                                                    <th>ราคา ฿</th>
                                                    <th>จำนวน</th>

                                                </tr>
                                            </thead>
                                            @for (int i = 0; i < Model.toppingsQty.Count(); i++)
                                            {
                                                <tr>
                                                    <td width="40%">@Model.toppingsQty[i].Toppingname</td>
                                                    <td width="37%">@Model.toppingsQty[i].Toppingprice</td>
                                                    <td width="33%">@Html.TextBoxFor(m => m.toppingsQty[i].Toppingqty, new { @type = "number", @class = "form-control textR", @min = "0" })</td>
                                                    <p>@Html.HiddenFor(m => m.toppingsQty[i].Toppingid)</p>
                                                    <p>@Html.HiddenFor(m => m.toppingsQty[i].Toppingprice)</p>
                                                    <p>@Html.HiddenFor(m => m.toppingsQty[i].Toppingname)</p>
                                                </tr>
                                            }
                                        </table>

                                        }  
                                        <br />
                                        <h6 class="card-subtitle pb-2 text-muted">ราคา : @Model.menus[0].Price ฿</h6>
                                        <button asp-page-handler="Addcart" class="btn btn-success"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</button>

                                        @Html.HiddenFor(m => m.menus[0].Menuid)
                                        @Html.HiddenFor(m => m.menus[0].Menuname)
                                        @Html.HiddenFor(m => m.menus[0].Price)
                                        @Html.HiddenFor(m => m.menus[0].Typeid)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="padding-bottom: 180px;">
            </div>
        </main>
    </div>
}


