﻿@page
@model Pizza.MenuModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #6d6d6d;
    }

    h5 {
        color: #6d6d6d;
    }

    a:hover {
        color: #d4b457;
        text-decoration: underline;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #d4b457;
        background-color: #fff;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .tabs {
        position: relative;
        width: 100%;
    }

    .btncolor {
        background-color: #D3401E !important;
        border-color: #D3401E !important;
    }

    .cardheight {
        height: 360px;
    }

    .textheight {
        height: 100px;
    }



    .qodef-title-holder {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        height: 290px;
        background-color: #1b1b1b;
        background-position: center 0;
        background-repeat: no-repeat;
        z-index: 101;
        color: #fff;
    }

    a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
        background: 0 0;
        border: 0;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
    }

    .qodef-title-holder .qodef-title-image {
        display: none;
    }

    .border-bottom {
        border-bottom: 0px solid #e5e5e5;
    }

    .mb-3, .my-3 {
        margin-bottom: 0rem !important;
    }

    .border-bottom {
        border-bottom: 0px solid #dee2e6 !important;
    }
</style>
<div class="qodef-title-holder qodef-centered-type qodef-title-va-window-top qodef-has-bg-image qodef-bg-responsive-disabled" style="height: 195px; background-size: 100% 210px; background-color: #1b1b1b; background-image: url(/img/title-img-new.jpg); " data-height="195">
    <div class="qodef-title-image">
        <img itemprop="image" src="~/img/title-img-new.jpg" alt="u">
    </div>

    @*<div class="qodef-title-wrapper">
            <div class="qodef-title-inner">
                <div class="qodef-grid">
                    <h6 class="qodef-page-subtitle" style="color: #ffffff">Choose your favorite</h6>
                    <h2 class="qodef-page-title entry-title" style="color: #ffffff">Menu Filter Light</h2>
                </div>
            </div>
        </div>*@
</div>
<div class="container">
    <main role="main">


        <div class="text-center">
            <ul class="nav nav-tabs pt-4 nav-pills nav-fill" id="myTab" role="tablist">
                <li class="nav-item">

                    <a class="nav-link active" id="Pizza-tab" data-toggle="tab" href="#Pizza" role="tab" aria-controls="Pizza" aria-selected="true"> <i class="fas fa-pizza-slice"></i>&nbsp;Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="single-dish-tab" data-toggle="tab" href="#singledish" role="tab" aria-controls="singledish" aria-selected="false"><i class="fas fa-utensils"></i>&nbsp;Single dish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Sidedish-tab" data-toggle="tab" href="#Sidedish" role="tab" aria-controls="Sidedish" aria-selected="false"><i class="fas fa-drumstick-bite"></i>&nbsp;Side dish</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="salad-tab" data-toggle="tab" href="#salad" role="tab" aria-controls="salad" aria-selected="false"><i class="fas fa-carrot"></i>&nbsp;Salad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Snack-tab" data-toggle="tab" href="#Snack" role="tab" aria-controls="Snack" aria-selected="false"><i class="fas fa-cookie-bite"></i>&nbsp;Snack</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="icecream-tab" data-toggle="tab" href="#icecream" role="tab" aria-controls="icecream" aria-selected="false"><i class="fas fa-ice-cream"></i>&nbsp;Ice cream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="drink-tab" data-toggle="tab" href="#drink" role="tab" aria-controls="drink" aria-selected="false"><i class="fas fa-wine-bottle"></i>&nbsp;Drink</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Pizza" role="tabpanel" aria-labelledby="Pizza-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 1)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                   
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="singledish" role="tabpanel" aria-labelledby="single-dish-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 7)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="Sidedish" role="tabpanel" aria-labelledby="Sidedish-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 2)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="Snack" role="tabpanel" aria-labelledby="Snack-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 3)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="drink" role="tabpanel" aria-labelledby="drink-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 4)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="icecream" role="tabpanel" aria-labelledby="icecream-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 5)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="salad" role="tabpanel" aria-labelledby="salad-tab">
                    <div class="row">
                        @for (int i = 0; i < Model.menus.Count(); i++)
                        {
                            @if (Model.menus[i].Typeid == 6)
                            {
                                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                                    <div class="card mb-4 mt-4 shadow cardheight">
                                        <img class="card-img-top" src="~/pic/@Model.menus[i].Pic" width="277" height="180">
                                        <div class="card-body">
                                            <div class="textheight">
                                                <h5 class="card-title">@Model.menus[i].Menuname</h5>
                                                <h6 class="card-subtitle mb-2 text-muted">Price @Model.menus[i].Price ฿</h6>
                                                @*<p class="card-text">@Model.menus[i].Description</p>*@
                                            </div>
                                            @if (Model.menus[i].Qty <= 0)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ขายหมดแล้ว</button>
                                            }
                                            else if (Model.menus[i].Ishide)
                                            {
                                                <button class="btn btn-primary btncolor" disabled><i class="fas fa-shopping-cart"></i> ปิดให้เลือก</button>
                                            }
                                            else
                                            {
                                                <a asp-page="./MenuDetail" asp-page-handler="OnGet" asp-route-Menuid="@Model.menus[i].Menuid" class="btn btn-primary btncolor"><i class="fas fa-shopping-cart"></i> เพิ่มลงรถเข็น</a>

                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>